In [98]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import classification_report,confusion_matrix

In [7]:
files=glob.glob('Youtube_dataset\\*.csv')

In [16]:
files

['Youtube_dataset\\Youtube01.csv',
 'Youtube_dataset\\Youtube02.csv',
 'Youtube_dataset\\Youtube03.csv',
 'Youtube_dataset\\Youtube04.csv',
 'Youtube_dataset\\Youtube05.csv']

In [46]:
all_dataframes=[]##a pandas dataframe that contains all the frames 
for f in files:
    all_dataframes.append(pd.read_csv(f).drop(['COMMENT_ID','AUTHOR','DATE'],axis=1))

In [47]:
all_dataframes[0]

                                               CONTENT  CLASS
0    Huh, anyway check out this you[tube] channel: ...      1
1    Hey guys check out my new channel and our firs...      1
2               just for test I have to say murdev.com      1
3              watch?v=vtaRGgvGtWQ   Check this out .﻿      1
4    Hey, check out my new website!! This site is a...      1
..                                                 ...    ...
344  How can this have 2 billion views when there's...      0
345         I don't now why I'm watching this in 2014﻿      0
346  subscribe to me for call of duty vids and give...      1
347  hi guys please my android photo editor downloa...      1
348  The first billion viewed this because they tho...      0

[349 rows x 2 columns]

In [48]:
#combine all the dataframesinto one huge dataframe
Data=pd.concat(all_dataframes,axis=0,ignore_index=True)

In [49]:
Data

                                                CONTENT  CLASS
0     Huh, anyway check out this you[tube] channel: ...      1
1     Hey guys check out my new channel and our firs...      1
2                just for test I have to say murdev.com      1
3               watch?v=vtaRGgvGtWQ   Check this out .﻿      1
4     Hey, check out my new website!! This site is a...      1
...                                                 ...    ...
1950  I love this song because we sing it at Camp al...      0
1951  I love this song for two reasons: 1.it is abou...      0
1952                                                wow      0
1953                            Shakira u are so wiredo      0
1954                         Shakira is the best dancer      0

[1955 rows x 2 columns]

In [50]:
Data['CLASS'].value_counts()

1    1004
0     951
Name: CLASS, dtype: int64

In [51]:
##dealing with missing values
Data.isnull().sum()##==> no missing values

CONTENT    0
CLASS      0
dtype: int64

In [54]:
X=Data['CONTENT']
Y=Data['CLASS']

Y

0       1
1       1
2       1
3       1
4       1
       ..
1950    0
1951    0
1952    0
1953    0
1954    0
Name: CLASS, Length: 1955, dtype: int64

In [71]:
 #split data
x_train,x_test,y_train,y_test=train_test_split(X,Y,
                                               test_size=0.2,
                                               random_state=356,
                                               stratify=Y )

In [72]:
y_train.value_counts()

1    803
0    761
Name: CLASS, dtype: int64

In [73]:
y_test.value_counts()

1    201
0    190
Name: CLASS, dtype: int64

In [87]:
##TOKENIZING
vect=CountVectorizer()
x_train_vect=vect.fit_transform(x_train).toarray()
x_test_vect=vect.transform(x_test).toarray()

In [88]:
x_train_vect

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [89]:
x_train_vect.shape

(1564, 3845)

In [90]:
x_test_vect.shape

(391, 3845)

In [92]:
clf=MultinomialNB()

In [94]:
clf=clf.fit(x_train_vect,y_train)## P(Y|xi)=P(Xi|y)*p(y)

In [95]:
y_predicted=clf.predict(x_test_vect)

In [101]:
confusion_matrix(y_test,y_predicted)

array([[167,  23],
       [ 11, 190]], dtype=int64)

In [105]:
print(classification_report(y_test,y_predicted))

              precision    recall  f1-score   support

           0       0.94      0.88      0.91       190
           1       0.89      0.95      0.92       201

    accuracy                           0.91       391
   macro avg       0.92      0.91      0.91       391
weighted avg       0.91      0.91      0.91       391